<h1>Listing Clubs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Join</th>
      <th>Name</th>
      <th>Private</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="clubshere">
  <%= render 'clubs', object: @clubs %>
  </tbody>
</table>

<%= link_to 'New Club', new_athlete_club_path if can? :create, Club %>
