<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.full_name %>!</h1>

    <p>Take note that you singed up to Little Kitty Events via Facebook.</p>
    <p>By doing so, a password was generated for you.  The generated password</p>
    <p>doesn't need to be changed if you plan on signing in via facebook. You</p>
    <p>can always update your password in your profile settings and sign in through</p>
    <p>our services if you wish to do so.</p><br>
    <p>Now, join some clubs, participate in events and have fun!</p><br>
    <p>The Little Kitty Events Team!</p><br>
  </body>
</html>
