.alert-notice {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #468847;
   text-align: left;
}

.alert-alert {
   background-color: #fcf8e3;
   border: 1px solid #fbeed5;
   color: #c09853;
   text-align: left;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
text-align: left;
}


.navbar .nav li {
  display:inline-block;
  float:none;
  color: white;
  vertical-align:middle;
}

.fa-star {
  color: grey;
}

.yellow {
  color: orange;
}

.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}
